body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(0, 0, 0);
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.logo {
    font-size: 2rem;
    color: rgb(196, 41, 149);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: rgb(248, 243, 243);
    text-decoration: none;
    font-size: 1.5;
}

.btn {
    background: rgb(196, 41, 149);
    padding: 10px 20px;
    color: rgb(233, 230, 230);
    text-decoration: none;
    border-radius: 5px;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, 0.6);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
}

.btn-large {
    font-size: 1.5rem;
    padding: 15px 30px;
    margin-top: 15px;
    display: inline-block;
}

.background-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: backgroundAnimation 15s infinite linear;
}

.search-container {
    position: relative;
}

.navbar-container {
    background: rgba(255, 255, 255, 0.1); /* Fond légèrement transparent */
    border: 2px solid #ff0080; /* Bordure rose (ou la couleur que tu veux) */
    border-radius: 10px; /* Coins arrondis */
    padding: 10px;
    margin: 10px auto;
    max-width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*Utilisation de l'API à partir de maintenant : */
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

/*Position de la proposition des films*/
.search-container{
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-element{
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
}

/*Style du titre et année dans la barre de recherche*/
.search-element h3{
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 10px;
    font-size: 2rem;
    color: white;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

/*Barre de recherche*/
.search-element .form-control{
    width: 350px;
    background-color: pink;
    color : black;
    border : 2px solid deeppink;
}

/*position pour que la liste des films apparaissent sous la barre de recherche*/
.search-list{
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 250px;
    overflow-y: scroll;
    z-index: 10;
}

/*Dans la barre de recherche, c'est la mise en forme de la liste des films */
.search-list .search-list-item{
    background-color: black;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    width: calc(350px - 8px);
    color: white;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}

/*Pour qu'une couleur apparait losque l'on passe sur un film*/
.search-list .search-list-item:Hover{
    background-color: #555454;
}

/*Pour que titre et année soit à coté de l'affiche*/
.search-list-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*Taille petite affiche sur le coté des titres*/
.search-item-thumbnail img{
    width: 40px;
    margin-right: 1rem;
}

/*taille de l'année et du titre de chaque film qui apparait*/
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;
}

/*Epaisseur de la barre déroulante des films */
.search-list::-webkit-scrollbar{
    width: 8px;
}

/*Forme de la barre déroulante*/
.search-list::-webkit-scrollbar-thumb{
    background-color: deeppink;
    /*pour avoir les bords arrondis*/
    border-radius: 10px;
}

/* js related class */
/*Pour que la sélection des films disparait après avoir appuyer sur un film*/
.hide-search-list{
    display: none;
}

/* position de l'affiche */
.result-container{
    padding-top: 3rem;
}

/*Taille de l'affiche + bordure autour*/
.movie-poster img{
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid white;
}

/* position du descriptif + couleur*/
.movie-info{
    text-align: center;
    color: white;
    padding-top: 3rem;
}

/* style titre du film*/
.movie-title{
    font-size: 2rem;
    color: deeppink;
}

/*descriptif (years, ratings & released)*/
.movie-misc-info{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /*mettre éléments à la suite : */
    justify-content: center;
    /*Mettre espace autour des éléments*/
    padding: 1rem;
}

/*descriptif (ratings)*/
.movie-info .rated{
    background-color: deeppink;
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}

/*descriptif (realesed)*/
.movie-info .released{
    font-size: 0.9rem;
    opacity: 0.9;
}

/*descriptif (writer) espace autour*/
.movie-info .writer{
    padding: 0.5rem;
    margin: 1rem 0;
}

/*descriptif (genre) espace autour*/
.movie-info .genre{
    background-color: #555454;
    /*Pour que la bordure s'adapte au texte : */
    display: inline-block;
    padding: 0.5rem;
    border-radius: 10px;
}

/*descriptif (plot) espace autour*/
.movie-info .plot{
    /*Pour que le texte soit mieux organisé : */
    max-width: 400px;
    margin: 1rem auto;
}

/*descriptif (langues)*/
.movie-info .language{
    color: deeppink;
    font-style: italic;
}

/*descriptif (awards) taille*/
.movie-info .awards{
    font-weight: 300;
    font-size: 0.9rem;
}

@media(min-width: 800px){
    /*Espace entre titre et année dans la barre de recherche*/
    .search-element h3{
        margin-bottom: 0;
    }

    /*Pour avoir l'affiche à gauche et le descriptif à droite*/
    .result-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /*Descriptif aligné sur la gauche*/
    .movie-info{
        text-align: left;
        padding-top: 0;
    }

    /*pas d'espace avant Year:*/
    .movie-info .movie-misc-info{
        justify-content: flex-start;
        padding-left: 0;
    }

    /*pas d'espace avant Plot:*/
    .movie-info .plot{
        margin-left: 0;
    }

    /*pas d'espace avant Writer:*/
    .movie-info .writer{
        padding-left: 0;
        margin-left: 0;
    }
}
/*Fin utilisation API*/


/*Connection : */
.wrapper{
    position: absolute;
    top: 20px;
    left: 20px;
    animation: show_toast 1s ease forwards;
}
@keyframes show_toast {
    0%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(10%);
    }
    80%, 100%{
        transform: translateX(20px);
    }
}
.wrapper.hide{
    animation: hide_toast 1s ease forwards;
}
@keyframes hide_toast {
    0%{
        transform: translateX(20px);
    }
    40%{
        transform: translateX(10%);
    }
    80%, 100%{
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}
.wrapper .toast{
    background: black;
    padding: 20px 15px 20px 20px;
    border-radius: 10px;
    border-left: 5px solid deeppink;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper .toast.offline{
    border-color: pink;
}
.toast .content{
    display: flex;
    align-items: center;
}
/*logo connection : */
.content .icon{
    font-size: 25px;
    color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: deeppink;
}
.toast.offline .content .icon{
    background: pink;
}
.content .details{
    margin-left: 15px;
}
.details span{
    font-size: 20px;
    font-weight: 500;
}
.details p{
    color: white;
}
.toast .close-icon{
    color: white;
    font-size: 23px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: #ff5eca;
    transition: all 0.3s ease;
}
.close-icon:hover{
    background: #efefef;
}
